h1 {
	text-align: center;
	font-weight: 100;
	text-decoration: #759b2f underline wavy;
	letter-spacing: 15px;
	font-size: 50px;
	/* font-family: Segoe UI, Futura, Arial, sans-serif; */
	font-family: Fantasy;
}

h2 {
	color: teal;
	background-color: rgb(108,175,25);
}

button {
	color: #f0f; /* #FF00FF, magentaと同じ */
	background-color: cyan; /* #0FF, rgb(0, 255, 255)と同じ */
}

p {
	color: olive;
	background: papayawhip;
	line-height: 2;
}

a {
	color: #f78120;
	text-decoration: none;
}

body {
	background-color: rgb(125, 98, 168);
}