/* ユニバーサルセレクタ (全ての要素に適用。あまり使わない)
* {
	color: pink;
	background-color: cyan;
} */

body {
	background-color: #f1faee;
}

button {
	font-size: 30px;
	background-color: #a8dadc;
	color: brown;
}

/* タイプセレクタ (全ての<h1>と<h2>に適用) */
h1, h2 {
	color: #1d3557;
}

/* IDセレクタ (<id>は同じページ中で一意でなければならない) */
#signup {
	color: #f1faee;
	background-color: #457b9d;
}

span {
	color: #457b9d;
	font-size: 15px;
}

/* クラスセレクタ (同じクラス名を持つ全ての要素に適用) */
.tag {
	background-color: #e63946;
	color: #f1faee;
}

/* 子孫セレクタ (ネストの深さは関係ない) */
.post a {
	color: #a55dcf;
}

footer a {
	color: #e63946;
}

/* 隣接セレクタ (同じ親要素を持つ子要素同士である<h2>の直後の<p>に適用)*/
h2+p {
	font-size: 20px;
	background-color: pink;
}

/* 直下セレクタ (footerの直下のネストになる<a>に適用。孫以降は対象外)*/
footer>a {
	color: #457b9d;
}

/* 属性セレクタ (type属性が指定の条件に合う全ての要素に適用) */
input[type="text"] {
	width: 300px;
	background-color: antiquewhite;
	/* テキストボックスの中に入力される文字の色 */
	color: maroon;
}

/* hrefにgoogleを含むanchor */
a[href*="google"] {
	font-size: 25px;
}

/* hrefが.jpで終わる<a> */
a[href$=".jp"] {
	font-size: 30px;
}

/* 疑似クラスセレクタ (選択された要素の特定状態によってスタイルを変える) */
.post a:hover {
	/* マウスオーバー時に赤色の波下線に変える */
	text-decoration: underline wavy #e63946;
}

.post button:hover {
	background-color: lightcoral;
}

/* ボタンを押した時に色を変える */
.post button:active {
	background-color: #5c1ee1;
}

/* checkedの状態の時に連動したラベルのスタイルを変える */
input:checked+label {
	border: 2px solid #e63946;
	background-color: turquoise;
}

/* チェックが入ったチェックボックス */
input[type="checkbox"]:checked {
	box-shadow: 0 0 0 3px hotpink;
}

/* チェックが入ったラジオボタン */
input[type="radio"]:checked {
	box-shadow: 0 0 0 3px lawngreen;
}

/* n番目の要素。(2n-1)で奇数番目の要素を選択 */
.post:nth-of-type(2n) {
	background-color: #87a77c;
}

/* 疑似要素セレクタ 選択された要素の特定の部分にスタイル付け */
h2::first-letter {
	font-size: 50px;
	color: #e63946;
}

p::first-line {
	font-size: 20px;
	color: palegoldenrod;
}

/* ページ全体に対しハイライト(マウスドラッグ)時の色を変える */
::selection {
	background-color: sandybrown;
}

/* 全てのリンクの前にcontentの文字列を入れる */
a::before {
	content: "🔗";
}

/* footerに属するリンクの後にcontentの文字列を入れる */
footer a::after {
	content: "👉Go！！";
}

/* 詳細度の高いセレクタの方が優先される */
button:hover {
	/* 下記はLogInボタンにだけ適用され、+VoteとSignUpには無効
	適用されない場合は競合が起きており、他の詳細度の高いセレクタが優先されている
	（SignUpボタンにはidセレクタ、+Voteボタンにはクラスセレクタがあるため） */
	background-color: olivedrab; 
	/* ただし下記は競合が起きていないので全てのボタンに適用される */
	font-size: 10px;
}

/* 詳細度の格付けルール
(A)ID >(B)クラス/属性/擬似クラス >(C)要素/疑似要素 (>ユニバーサルセレクタ)
A > B > C 上位グループが1つでもあれば下位が100個でも敵わない
例) a < nav a < .post < .post a < .post span a < .post.tag < #signup /*

/* 下記は .post button < .post h2 + buttonで +Voteボタンにはこちらが優先適用される
 .post h2 + button:hover {
	background-color: yellowgreen;
} */
/* 上記は実のところ、同じ.post button:hover　でも後出しルールにより勝つ。
　　詳細度の確認にもChromeの「検証」機能のHTMLソースコードの右（or下）側の枠内"Styles"タブが便利
　　ここをいじって見た目を色々変えて即確認できる。（あくまでキャッシュ内の変更なので画面更新で元に戻る） */

/* 悪い例 （詳細度の高いセレクタを使うべき）
これはカスケードも詳細度の優先順位も無視して強制的に適用されるが、保守性が悪い為極力使わないようにする。
ただし、限定的な条件下でどうしても使わざるを得ない場面も起き得る。 */
button {
	background-color: magenta !important;
}
